/* RESET */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  background: #f4f6fb;
  color: #222;
  line-height: 1.6;
}


.hero {
  background: linear-gradient(120deg, #4f46e5, #9333ea);
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.hero h1 span {
  color: #ffe74f;
}

.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  margin-bottom: 15px;
}


.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.container h2 {
  text-align: center;
  margin-bottom: 15px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid #aaa;
}

th, td {
  padding: 10px;
  text-align: center;
}


.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
}

.skill-card {
  background: #4f46e5;
  color: white;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.skill-card:hover {
  background: #372fcc;
  transform: scale(1.05);
}


.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.project-card {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}


.nice-list {
  list-style: none;
  padding-left: 0;
}

.nice-list li {
  background: #f0f0ff;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
}


.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 260px;
  margin: auto;
}

.contact-form input {
  padding: 10px;
  border: 1px solid #666;
  border-radius: 8px;
}

button {
  padding: 10px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #372fcc;
}


footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
  margin-top: 40px;
}
